BigData/Sistemas/T2_4_Extraer_con_selenium_datos_de_licitacions_do_Concello_da_Coruna/images/*
IA/Programacion/Ejercicios/ppt_entrenamiento/dump/*
IA/Programacion/Ejercicios/ppt_entrenamiento/test/*
IA/Sistemas/Learning/archives/logs/*
IA/Sistemas/Learning/model/*
IA/Sistemas/Ejercicios/heart_attack/model/*
IA/Sistemas/Ejercicios/chest_x_ray/images/*
Docs/*
Profe/*